# Dependencies
node_modules
.pnp
.pnp.js

# Environment variables & secrets
.env
.env.*
!.env.example
*.local

# Build output
dist
dist-ssr
*.local
build

# Editor & System
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
